@model IEnumerable<SchoolManagementSystem.VideoTable>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.link)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubjectTable.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserTable.FullName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.link)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubjectTable.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserTable.FullName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VideoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.VideoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VideoId })
        </td>
    </tr>
}

</table>
