@model IEnumerable<SchoolManagementSystem.ExpensesTable>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">All Expense's</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped table-condensed table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ExpensesDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Amount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Reason)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ExpenseTypeTable.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserTable.FullName)
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExpensesDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Reason)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExpenseTypeTable.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserTable.FullName)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ExpensesID }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("Details", "Details", new { id = item.ExpensesID }, new { @class = "btn btn-info" })
                            </td>
                        </tr>
                    }
                    </tbody>
            </table>
        </div>
    </div>
</div>