@model SchoolManagementSystem.StaffTable
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ExperienceC</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div class="container">
        @using (Html.BeginForm())
        {

            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-md-9">
                        <div class="hidden-print">
                            <a href="javascript:window.print()" class="btn btn-default"><i class="fas fa-print"></i> Print</a>
                            <a href='@Url.Action("SendEmail","#")' class="btn btn-default"><i class="fas fa-envelope-open-text"></i>Email</a>
                        </div>
                        <br /><br />
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="text-center"> <h1><b>FINAL YEAR SCHOOL</b></h1></div>
                                <div class="text-center"><img src="~/Content/AdminTemplate/img/final_edit-4.png" height="200" width="220" /></div>
                                <div class="text-center"> <p>Afghan Colony Peshawar. Cell:0321-9113267</p></div>
                                <div class="text-center"><p> Affiliated With B.I.S.E. Peshawar.</p></div>
                                <div class="text-center"><h2><b>EXPERIENCE CERTIFICATE</b></h2></div><br />
                                <span class="pull-left"><b>S.No ________________</b></span>
                                <br />
                                <div><span class="pull-left"><b>Adm.#: @Model.StaffID</b></span><span class="pull-right"><b>Date: @DateTime.Now.ToShortDateString()</b></span></div>
                                <div class="clearfix"></div>
                                <br />
                                <div>
                                    This is certify That
                                    <span><b>Mr/Miss : </b></span>
                                    <b>@Model.Name</b>
                                    worked as <b>
                                        <span><b>@Model.DesignationTable.Title</b></span>

                                    </b> in our school <b>from @ViewBag.FromDate to @ViewBag.ToDate </b>with our entire satisfaction. During This is certify That
                                    <span><b>his/her</b></span>  working period we found him a sincere, honest, hardworking, dedicated employee with profissional attitude and very good job knowledge.
                                    He is amiable in nature and character is well. we have no objection to allow him in any better position and have no liabilities in our school.
                                    <br /><br />
                                    <div class="text-center">we wish him every success in life.</div>
                                    <br /><br />
                                    <b>Conduct: Inam ullah</b>
                                    <br /><br />
                                    <div><spin class="pull-left">______________________</spin> <spin class="pull-right">______________________</spin></div>
                                    <br />
                                    <div>
                                        <spin class="pull-left">Prepared by</spin><spin class="pull-right">Principal</spin>
                                    </div>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>


</body>
</html>
