@model SchoolManagementSystem.StudentTable

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>StudentTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            الاسم
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FatherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateofBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateofBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CNIC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CNIC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FNIC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FNIC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddmissionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddmissionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreviousSchool)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreviousSchool)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreviousPercentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreviousPercentage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nationality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Religion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Religion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TribeorCaste)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TribeorCaste)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FathersGuardiansOccupationofProfession)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FathersGuardiansOccupationofProfession)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FathersGuardiansPostalAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FathersGuardiansPostalAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneOffice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneOffice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneResident)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneResident)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassTable.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassTable.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProgrameTable.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProgrameTable.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SessionTable.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SessionTable.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserTable.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserTable.FullName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
