@model SchoolManagementSystem.SubjectTable

@{
    ViewBag.Title = "Subject";
}

<h2>Details</h2>

<div>
    <h4>Subject</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Subject
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Reg Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegDate)
        </dd>

        <dt>
          Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
           Total Marks 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalMarks)
        </dd>

        <dt>
            User
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserTable.FullName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SubjectID }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</p>
