@model SchoolManagementSystem.StudentPromotTable

@{
    ViewBag.Title = "Details";
}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">تفاصيل ترقية التلميذ</h6>
    </div>
    <div class="card-body">
        <hr />
        <dl class="dl-horizontal">
            <div class="card-header">
                معلومات الترقية
            </div>
            <div class="row">
                <div class="col-md-2">
                    <dt>
                       اسم التلميذ
                    </dt>
                </div>
                <div class="col-md-4">
                    <dd>
                       
                        @Html.DisplayFor(model => model.StudentTable.Name)
                    </dd>
                </div>
                <div class="col-md-2">
                    <dt>
                        المستوى
                    </dt>
                </div>
                <div class="col-md-2">
                    <dd>
                        @Html.DisplayFor(model => model.ClassTable.Name)
                    </dd>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <dt>
                       القسم
                    </dt>
                </div>
                <div class="col-md-4">
                    <dd>
                        @Html.DisplayFor(model => model.SectionTable.SectionName)
                    </dd>
                </div>
                <div class="col-md-2">
                    <dt>
                        الدفعة
                    </dt>
                </div>
                <div class="col-md-4">
                    <dd>
                        @Html.DisplayFor(model => model.ProgrameSessionTable.Details)
                    </dd>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <dt>
                       تاريخ الترقية
                    </dt>
                </div>
                <div class="col-md-4">
                    <dd>
                        @Html.DisplayFor(model => model.PromoteDate)
                    </dd>
                </div>
                <div class="col-md-2">
                    <dt>
                       الكلفة السنوية
                    </dt>
                </div>
                <div class="col-md-2">
                    <dd>
                        @Html.DisplayFor(model => model.AnnualFee)
                    </dd>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <dt>
                        وضعية الترقية
                    </dt>
                </div>
                <div class="col-md-4">
                    <dd>
                        @Html.DisplayFor(model => model.IsActive)
                    </dd>
                </div>
                <div class="col-md-2">
                    <dt>
                       وضعية التكلفة
                    </dt>
                    </div>
                <div class="col-md-2">
                    <dd>
                        @Html.DisplayFor(model => model.IsSubmit)
                    </dd>
                    </div>
                </div>








</dl>
        @Html.ActionLink("تعديل", "Edit", new { id = Model.StudentPromotID }, new { @class = "btn btn-primary" })
        @Html.ActionLink("عودة", "Index")

    </div>
</div>

