@model SchoolManagementSystem.TimeTblTable

@{
    ViewBag.Title = "Details";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Student Time Tbale</h6>
    </div>
    <div class="card-body">

        <dl class="dl-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <dt>
                        @Html.DisplayNameFor(model => model.StaffTable.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.StaffTable.Name)
                    </dd>
                </div>
                <div class="col-md-6">
                    <dt>
                        Subject
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ClassSubjectTable.Name)
                    </dd>
                </div>
                <div class="col-md-6">
                    <dt>
                        @Html.DisplayNameFor(model => model.Day)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Day)
                    </dd>
                </div>
                <div class="col-md-6">
                    <dt>
                        @Html.DisplayNameFor(model => model.StartTime)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.StartTime)
                    </dd>

                </div>
                <div class="col-md-6">
                    <dt>
                        @Html.DisplayNameFor(model => model.EndTime)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EndTime)
                    </dd>
                </div>
                <div class="col-md-6">
                    <dt>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IsActive)
                    </dd>
                </div>
                <div class="col-md-6">
                    <dt>
                        @Html.DisplayNameFor(model => model.UserTable.FullName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.UserTable.FullName)
                    </dd>
                </div>
                </div>
        </dl>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.TimeTableID }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
   
    </div>