@model IEnumerable<SchoolManagementSystem.TimeTblTable>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Assign Subject-Teacher", "Create", null, new { @class = "btn btn-success" })
</p>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">All Student</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped table-condensed table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Teacher ID
                        </th>
                        <th>
                            Teacher
                        </th>
                        <th>
                            Subject
                        </th>
                        <th>
                            Start Time
                        </th>
                        <th>
                            End Time
                        </th>
                        <th>
                            Day
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            User
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th>
                                @Html.DisplayFor(modelItem => item.StaffTable.StaffID)
                            </th>
                            <td>
                                @Html.DisplayFor(modelItem => item.StaffTable.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClassSubjectTable.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EndTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Day)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsActive)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.UserTable.FullName)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.TimeTableID }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("Details", "Details", new { id = item.TimeTableID }, new { @class = "btn btn-info" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>